.orderCards {
    width: 30%;
    margin: 4rem 0.7rem 0px 0;
}

.moodeOfCardORder{
    display: flex;
    background-color: var(--card);
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

@media screen and (max-width: 1200px) {
    .orderCards{
        width: 50%;
    }
}

@media screen and (max-width: 815px) {
    .orderCards{
        width: 100%;
        margin: 0.5rem;
    }
}