.orderCards {
    width: 30%;
    margin: 4rem 0.7rem 0px 0;
}

.moodeOfCardORder{
    display: flex;
    background-color: var(--card);
    /* max-width: 82%; */
    /* width: 119%; */
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0.5rem;
}

