.recentOrderCard {
    background-color: var(--card);
    border-radius: 5px;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    margin-top: 28px;
}

@media screen and (max-width: 815px) {
  .recentOrderCard{
    margin: 0.5rem 0;
  }
}