.dashboard {
  width: 50%;
  margin: 0 20px;
}

.sales {
  display: flex;
  color: var(--black);
  font-family: var(--font-family);
  margin-bottom: 0.5rem;
  margin-top: -1rem;
}

.totalCards {
  /* display: flex; */
  justify-content: center;
  min-width: calc(33% - 25px);
  /* min-height: 90px; */
  width: 10vw;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.totalsales {
  background-color: var(--sky-color);
  /* display: inline-block; */
}

.totalCards span:last-child {
  padding-top: 5px;
}

.totals {
  padding-top: 0.5rem;
}
.totalearnings {
  background-color: rgb(237, 237, 167);
}

.totalorders {
  background-color: rgb(231, 210, 251);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 815px) {
  .dashboard {
    width: 100%;
    margin: 0.5rem 0;
  }
  .tableCard{
    margin-top: 0.5rem;
  }
  .burger{
    margin-right: 1rem;
    cursor: pointer;
  }
  .burger div{
    width: 1.5rem;
    height: 4px;
    background-color: var(--white);
    margin: 3px;
  }
}
