.side-nav {
    background-color: rgb(28, 24, 24);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 230px;
    /* width: 17vw; */
    height: 100vh;
    font-family: var(--font-family);
}

.companyname {
    padding: 20px 0px 0px 50px;
    cursor: pointer;
    color: var(--sky-color);
}

.firstCard {
    padding: 20px 0px 0px 50px;
    margin-bottom: 250px;
    color: rgb(116, 129, 141);
}

.firstCard, p {
    cursor: pointer;
}

.secondCard {
    margin-left: 24px;
    width: 10vw ;
    min-width: 10px;
    height: 26vh;
    padding: 15px 0px 20px 25px;
    align-items: center;
    background-color: rgb(43, 39, 39);
    color: rgb(116, 129, 141);
}

/* .secondCardDown{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.partpopper{
    width: 29%;
    height: 29%;
}

button{
    padding: 8px;
    border-radius: 5px;
    background-color: var(--sky-color);
}
